%h2 Edit User
%p User:  #{@user.email}
#edit-user
  = form_for(@user) do |f|
    - if @user.errors.any?
      .error-messages
        %h2 Form is invalid
        %ul
          - @user.errors.full_messages.each do |message|
            %li= message

    .field
      %p= f.label :email, 'Email:'
      %p= f.text_field :email

    .field
      %p= f.label :avatar, 'Change Avatar:'
      %p= f.file_field :avatar

    .actions
      %p= f.submit 'submit'

