%h1 Sign Up
#new-user
  = form_for(@user) do |f|
    - if @user.errors.any?
      .error-messages
        %h2 Form is invalid
        %ul
          - @user.errors.full_messages.each do |message|
            %li= message

    .field
      %p= f.label :email, 'Email:'
      %p= f.text_field :email

    .field
      %p= f.label :password, 'Password:'
      %p= f.password_field :password

    .field
      %p= f.label :password_confirmation, 'Password Confirmation:'
      %p= f.password_field :password_confirmation

    .field
      %p= f.label :avatar, 'Add avatar:'
      %p= f.file_field :avatar

    .actions
      %h1= f.submit 'Sign Up'

