%h1 Edit Album
#edit-album
  = form_for @album do |f|
    - if @album.errors.any?
      .error-messages
        %h2 Form is invalid
        %ul
          - @album.errors.full_messages.each do |message|
            %li= message

    .field
      = f.label :name
      = f.text_field :name

    .actions
      = f.submit 'submit'
