!!!
%html
  %head
    %title Collections
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #container
      #user-header
        = signup_link
        = login_link
        = logout_link
        = edit_link

      - flash.each do |name, msg|
        = content_tag :div, msg, class: name

    = yield
